# Dependency directories
node_modules/

# Build output
dist/
bin/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Windows service files
daemon/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
